#header{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

#textp{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

#clickMe{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

.nav-link{
    color: white;

}

#text_training_status, #text_training_opening{
    font-weight: bold;
    text-align: center;
}


.game-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.moves-div, .empty-moves-div{
    width: 200px;
}

#moves-header{ 
    font-weight: bold;
    text-align: center;
}

#moves-list{
    display: grid;
}

#table-moves {
    margin-left: 10%;
    width: 80%;
    background-color: grey;
}

#row-move-number{
    width: 10%;
}

 #row-move-detail{
    text-align: center;
    width: 45%;
}

.board {
    
}

.divv {
    display: flex;
}

.sq_white {
    background-color: lightgoldenrodyellow;
}


.sq_black {
    background-color: maroon;
}

ul.board-layout {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

li.li-board {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

li.li-notation {
    list-style: none;
    display: grid;
    place-items: center;
}

.square {
    display: flex;
    margin: .5px;
    width: 75px;
    height: 75px;
}

.notation{
    margin: .5px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.not_side{
    width: 20px;
    height: 75px;
}

.not_below{
    width: 75px;
    height: 20px;
}

.not_angle{
    width: 20px;
    height: 20px;
}

.piece {
    width: 75px;
    height: 75px;
}

#textp{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}
