<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Page Web Script JS</title> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/get_case_choice.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/js_img.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1 id="header">Chess Training App</h1>
    <p id="textp"></p>
    <input id="clickMe" type="button" value="Restart Pieces" onclick="init_pieces_position()" />

    <ul>
        <div class="divv" id="row8">
            <li class="notation not_lign" id="8">8</li>
            <li class="square sq_white" id="A8"></li>
            <li class="square sq_black" id="B8"></li>
            <li class="square sq_white" id="C8"></li>
            <li class="square sq_black" id="D8"></li>
            <li class="square sq_white" id="E8"></li>
            <li class="square sq_black" id="F8"></li>
            <li class="square sq_white" id="G8"></li>
            <li class="square sq_black" id="H8"></li>
        </div>
        <div class="divv" id="row7">
            <li class="notation not_lign" id="7">7</li>
            <li class="square sq_black" id="A7"></li>
            <li class="square sq_white" id="B7"></li>
            <li class="square sq_black" id="C7"></li>
            <li class="square sq_white" id="D7"></li>
            <li class="square sq_black" id="E7"></li>
            <li class="square sq_white" id="F7"></li>
            <li class="square sq_black" id="G7"></li>
            <li class="square sq_white" id="H7"></li>
        </div>
        <div class="divv" id="row6">
            <li class="notation not_lign" id="6">6</li>
            <li class="square sq_white" id="A6"></li>
            <li class="square sq_black" id="B6"></li>
            <li class="square sq_white" id="C6"></li>
            <li class="square sq_black" id="D6"></li>
            <li class="square sq_white" id="E6"></li>
            <li class="square sq_black" id="F6"></li>
            <li class="square sq_white" id="G6"></li>
            <li class="square sq_black" id="H6"></li>
        </div>
        <div class="divv" id="row5">
            <li class="notation not_lign" id="5">5</li>
            <li class="square sq_black" id="A5"></li>
            <li class="square sq_white" id="B5"></li>
            <li class="square sq_black" id="C5"></li>
            <li class="square sq_white" id="D5"></li>
            <li class="square sq_black" id="E5"></li>
            <li class="square sq_white" id="F5"></li>
            <li class="square sq_black" id="G5"></li>
            <li class="square sq_white" id="H5"></li>
        </div>
        <div class="divv" id="row4">
            <li class="notation not_lign" id="4">4</li>
            <li class="square sq_white" id="A4"></li>
            <li class="square sq_black" id="B4"></li>
            <li class="square sq_white" id="C4"></li>
            <li class="square sq_black" id="D4"></li>
            <li class="square sq_white" id="E4"></li>
            <li class="square sq_black" id="F4"></li>
            <li class="square sq_white" id="G4"></li>
            <li class="square sq_black" id="H4"></li>
        </div>
        <div class="divv" id="row3">
            <li class="notation not_lign" id="3">3</li>
            <li class="square sq_black" id="A3"></li>
            <li class="square sq_white" id="B3"></li>
            <li class="square sq_black" id="C3"></li>
            <li class="square sq_white" id="D3"></li>
            <li class="square sq_black" id="E3"></li>
            <li class="square sq_white" id="F3"></li>
            <li class="square sq_black" id="G3"></li>
            <li class="square sq_white" id="H3"></li>
        </div>
        <div class="divv" id="row2">
            <li class="notation not_lign" id="2">2</li>
            <li class="square sq_white" id="A2"></li>
            <li class="square sq_black" id="B2"></li>
            <li class="square sq_white" id="C2"></li>
            <li class="square sq_black" id="D2"></li>
            <li class="square sq_white" id="E2"></li>
            <li class="square sq_black" id="F2"></li>
            <li class="square sq_white" id="G2"></li>
            <li class="square sq_black" id="H2"></li>
        </div>
        <div class="divv" id="row1">
            <li class="notation not_lign" id="1">1</li>
            <li class="square sq_black" id="A1"></li>
            <li class="square sq_white" id="B1"></li>
            <li class="square sq_black" id="C1"></li>
            <li class="square sq_white" id="D1"></li>
            <li class="square sq_black" id="E1"></li>
            <li class="square sq_white" id="F1"></li>
            <li class="square sq_black" id="G1"></li>
            <li class="square sq_white" id="H1"></li>
        </div>
        <div class="divv" id="row_notation_below">
            <li class="notation not_angle   " id="0"></li>
            <li class="notation not_col" id="A">A</li>
            <li class="notation not_col" id="B">B</li>
            <li class="notation not_col" id="C">C</li>
            <li class="notation not_col" id="D">D</li>
            <li class="notation not_col" id="E">E</li>
            <li class="notation not_col" id="F">F</li>
            <li class="notation not_col" id="G">G</li>
            <li class="notation not_col" id="H">H</li>
        </div>
    </ul>

    <script>
    listen_choice()
    init_pieces_position()
    </script>

</body>
</html>